default: &default
  example: "www.example.com"
  alipay:
    pid: '2088012362185082' # replace with your own
    secret: '68wvu4bas1qi8nlc8vxw91e7kq963wu4'
    seller_email: "happycasts@gmail.com" # your alipay acount that you used to reigister the app
    return_url: "http://alidemo.happycasts.net/transactions/done"
    notify_url: "http://alidemo.happycasts.net/transactions/notify"

production:
  <<: *default

development:
  <<: *default

test:
  <<: *default
  default_password: ''
